www.wtfgameshow.app {
	redir https://wtfgameshow.app{uri} permanent
}

wtfgameshow.app, new.wtfgameshow.app {
	encode gzip zstd

	reverse_proxy app:3000 {
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-For {remote_host}
		header_up X-Forwarded-Proto {scheme}
	}

	@websocket {
		header Connection *Upgrade*
		header Upgrade websocket
	}
	reverse_proxy @websocket app:3000
}
